script(src='/jsBarcode/JsBarcode.all.min.js')

style.
    .top-nav>li>ul.nav>li>a:hover,
    .top-nav>li>ul.nav>li>a:focus{
        background-color: gray;
    }

div(style='display: table-cell; vertical-align: middle')
    div(style='margin-left: auto; margin-right: auto')
        div(style='float: left')
            span(style='color: #FFFFFF') #{__('home')}
        div(style='float: right;')
            ul.nav.navbar-nav.top-nav
                li
                    ul.nav
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.fa.fa-user.fa-2x(style='color: #FFFFFF')
                                label(style='color: #FFFFFF') Admin
                                b.caret(style='color: #FFFFFF')
                            ul.dropdown-menu
                                li
                                    a(href='#')
                                        i.fa.fa-fw.fa-user
                                        |  Profile
                                li
                                    a(href='#' data-toggle='modal', data-target='#userManagementModal')
                                        i.fa.fa-fw.fa-gear
                                        |  Settings
                                li.divider
                                li
                                    a(href='#')
                                        i.fa.fa-fw.fa-power-off
                                        |  
                li
                    ul.nav
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.fa.fa-bell-o.fa-2x(style='color: #FFFFFF')
                                label(style='color: #FFFFFF') Board

        .container(style='width: 100%;height: 100%;')
                #userManagementModal.modal.fade(role='dialog')
                    .modal-dialog
                        // margin-left:-150px
                        .modal-content(style='width: 900px; height: auto;') 
                            .modal-header
                                button.close(type='button', data-dismiss='modal') X
                                h2.modal-title User Management
                            .modal-body
                                ul.nav.nav-tabs
                                    li.active
                                        a(data-toggle='tab', href='#List', ng-click="onClickTab('List')") List
                                    li
                                        a(data-toggle='tab', ng href='#BarCode', ng-click="onClickTab('BarCode')") BarCode

                                .tab-content
                                    #List.tab-pane.fade.in.active
                                        nav.navbar.navbar-default.query(role='query')
                                            .container-fluid
                                                .collapse.navbar-collapse
                                                    .navbar-form.navbar-left
                                                        select#userFilter(class="form-control", name="size")
                                                            option(value="Filter") Filter
                                                            option(value="Name") Name
                                                            option(value="Email") E-mail
                                                            option(value="Phone") Phone
                                                            
                                                        input.form-control(type='text', ng-model='searchText')
                                                        button.btn.btn-default(ng-click="onSearchFilterUser()") Search
                                                    .navbar-form.navbar-right
                                                        button.btn.btn-default#userAddButton(ng-click="onOpenRegister()") User Add
                                                        a.btn.btn-default#userCancelButton(ng-click="onCloseRegister()" style='display:none;') Cancel
                                        .container.adduser(style='display: none; width:auto;')
                                            form(name='registerForm', ng-submit="onRegisterFormSubmit(registerForm)")
                                                .form-group
                                                    input.btn.btn-default.pull-right#userRegisterButton(type='submit', ng-click="onRegisterButton(registerForm)" name='submit_reg', value='Register')
                                                    br
                                                    span.req * 
                                                    | User Name:
                                                    input.form-control(type='text', id="name", name='username', ng-model="userInfo.name", ng-change="onValidation('name')", placeholder="name" required)
                                                    div(ng-show="registerForm.username.$error.required" class="col-xs-12 col-md-12 alert alert-warning" role="alert") Please Enter User Name.
                                                    div(ng-show="registerForm.username.$error.duplicate" class="col-xs-12 col-md-12 alert alert-warning" role="alert") User Name already exists.
                                                .form-group
                                                    span.req * 
                                                    |  Email Address:
                                                    input.form-control(type='text', name='useremail', ng-model="userInfo.email", ng-change="onValidation('email')", placeholder="email" required)
                                                    div(ng-show="registerForm.useremail.$error.required" class="col-xs-12 col-md-12 alert alert-warning" role="alert") Please Enter User E-mail Address.
                                                    div(ng-show="registerForm.useremail.$error.emailvalid" class="col-xs-12 col-md-12 alert alert-warning" role="alert") This is not an E-mail Address format.
                                                .form-group
                                                    span.req * 
                                                    |  Phone Number:
                                                    input.form-control(type='text', name='userphone', ng-model="userInfo.phone", ng-change="onValidation('phone')", placeholder="phone" required)
                                                    div(ng-show="registerForm.userphone.$error.required" class="col-xs-12 col-md-12 alert alert-warning" role="alert") Please Enter User Phone Number.
                                                    div(ng-show="registerForm.userphone.$error.phonevalid" class="col-xs-12 col-md-12 alert alert-warning" role="alert") This is not an Phone Number format. Please Enter without '-'
                                        .table-responsive.col-md-13
                                        //pagination.pagination-sm.pull-left//.list-inline.pull-right
                                        ul.list-inline.pull-right
                                            li
                                                a(href='#') ≪
                                            li(ng-repeat="page in pages")
                                                a(href='#' ng-click="onChangePage($index)") {{page.index}}
                                            li
                                                a(href='#') ≫
                                                
                                        table.table.table-striped.table-hover.text-left
                                            thead
                                            tr
                                                th.text-left No
                                                th.text-left Name
                                                th.text-left E-mail
                                                th.text-left Phone
                                                th.text-left Edit
                                                th.text-left Delete
                                            tbody
                                            tr(ng-repeat="user in users")
                                                td
                                                    p {{user.userIndex}}
                                                td
                                                    p {{user.userName}}
                                                td
                                                    p {{user.userEmail}}
                                                td
                                                    p {{user.userPhone}}
                                                td
                                                    p 
                                                        a(href="#", ng-click="onEditUser($index)")
                                                            i.fa.fa-pencil-square-o.fa-1x 
                                                td
                                                    p
                                                        a(href="#", ng-click="onDeleteUser($index)")
                                                            i.fa.fa-trash-o.fa-1x

                                    #BarCode.tab-pane.fade.in
                                        .table-responsive.col-md-13
                                        ul.list-inline.pull-right
                                            li
                                                a(href='#') ≪
                                            li(ng-repeat="page in pages")
                                                a(href='#' ng-click="onChangePage($index)") {{page.index}}
                                            li
                                                a(href='#') ≫
                                        
                                        table.table.table-striped.table-hover
                                            thead
                                            tr(align='center')
                                                th No
                                                th Name
                                                th Barcode
                                            tbody
                                            tr(ng-repeat="user in usersBarCode()")
                                                td
                                                    p {{user.userIndex}}
                                                td
                                                    p {{user.userName}}
                                                td
                                                    img(id="{{user.userName}}")

                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Close