doctype html
html
    head
        meta(charset="UTF-8")
        title #{title}
    body
        form(action='/dataGenerator/GenerateDummyData' method='post' onsubmit='return validateForm()')
            table
                tr
                    td 물동량: 
                    td 
                        input(type='text' name='workLoad' value=1000 min=1 max=2000)
                    td
                    td
                        label(id='errText1' for='workLoad')
                tr
                    td S/C수:  
                    td
                        input(type='text' name='SCCnt' value=10)
                tr
                    td 기간: From
                    td
                        input(type='date' name='periodFrom' value="2017-06-01")
                    td                       
                    td  To  
                        input(type='date' name='periodTo' value="2017-06-02")
                tr
                    td 에러발생률
                    td
                        input(type='text' name='errRate' value=0.02)
                tr
                    td
                        input(type='submit' value='Generate')
        script.
            function validateForm() {
                var workLoad = document.getElementById("workLoad");
                if(Number(workLoad.value) < Number(workLoad.min)) {
                    document.getElementById('errText1').innerHTML = "최소 입력값: "+ workLoad.min;
                    workLoad.value = workLoad.min;
                    return false;
                }
                if(Number(workLoad.value) > Number(workLoad.max)) {
                    document.getElementById('errText1').innerHTML = "최대 입력값: "+ workLoad.max;
                    workLoad.value = workLoad.max;
                    return false;
                }
                return true;
            }
            