// Modal
#wemsDetailModal.modal.fade(role='dialog')
  .modal-dialog(style='width: 1800px; height: 1800px')
    // Modal content
    .modal-content(style='height: 100%; overflow-x: hidden; overflow-y: auto')
      .modal-header(style='height: 3%; background-color: #337AB7; color:#FFF; border-bottom:2px dashed #337AB7')
        button.close(type='button', data-dismiss='modal') ×
        h4.modal-title(style='text-align: left') Hi-PAS
      .modal-body(style='height: 94%; width: 100%')
        div#left_content(style='height: 100%; width: 10%; float:left')
          .sidebar-nav(style='height: 100%; background-color: gray')
            .navbar.navbar-default(role='navigation', style='border-radius: 0px')
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              .navbar-collapse.collapse.sidebar-navbar-collapse(style='padding: 0; max-height: none')
                ul.nav.navbar-nav(style='float: none')
                  li.active(style='float: none; display: block')
                    a(href='#section_analysis', data-toggle='tab' style='padding-top: 12px; padding-bottom: 12px') Anaysis
                  li(style='float: none; display: block')
                    a(href='#section_management', data-toggle='tab' style='padding-top: 12px; padding-bottom: 12px') Mangement
        div#right_content(style='height: 100%; width: 90%; float:right')
            div.tab-content(style='height: 100%; width:100%; float:left')
                div#section_analysis.tab-pane.active.fade.in.content(style='height: 100%; width:100%; float:left')
                    include wems_detail_analysis.html
                div#section_management.tab-pane.fade(style='height: 100%; width:100%; float:left')
                    include wems_detail_management.html
      .modal-footer(style='height: 3%')
        h6 CopyRight 
