div.container(ng-app="wemsAnalysisApp", ng-controller='WemsAnalysisController as wemsAnalysisController', style='height: 100%; width:100%; margin:0; padding:0')
    div#wems_analysis_firstRow_content(style='height: 3%; width:100%; border:1px #dcdcdc solid')
    div#wems_analysis_secondRow_content(style='height: 24%; width:100%')
        div#wems_power_content(style='height: 100%; width:50%; float:left; border:1px #dcdcdc solid')
            canvas#wemsPowerContent(style='height: 100%; width:100%; padding: 0px')
        div#wems_cycleTime_content(style='height: 100%; width:50%; float:right; border:1px #dcdcdc solid')
            canvas#wemsCycleTimeContent(style='height: 100%; width:100%')
    div#wems_analysis_third_content(style='height: 24%; width:100%')
        div#wems_powerEfficiency1_content(style='height: 100%; width:50%; float:left; border:1px #dcdcdc solid')
            canvas#wemspowerEfficiency1Content(style='height: 100%; width:100%')
        div#wems_powerEfficiency2_content(style='height: 100%; width:50%; float:right; border:1px #dcdcdc solid')
    div#wems_analysis_fourth_content(style='height: 13%; width:100%; border:1px #dcdcdc solid')
    div#wems_analysis_fifth_content(style='height: 36%; width:100%; border:1px #dcdcdc solid')
    script(src='/wems/wemsAnalysisController.js')