<div id="section_management" style="height: 100%; width:100%; float:left" class="tab-pane fade">
    <div ng-app="wemsManagementApp" ng-controller="WemsAnalysisController as wemsManagementController" style="height: 50%; width:100%; margin:0; padding:0" class="container">
        <div id="wems_management_firstRow_content" style="height: 30%; width:100%; border:2px #f99 solid"></div>
        <div id="wems_management_secondRow_content" style="height: 30%; width:100%; border:2px #f99 solid"></div>
        <div id="wems_management_third_content" style="height: 30%; width:100%; border:2px #f99 solid"></div>
        <div id="wems_management_fourth_content" style="height: 10%; width:100%; border:2px #f99 solid; vertical-align: middle; text-align: right">
            <button type="button" style="margin:3" class="btn btn-primary btn-md">설정</button>
            <button type="button" style="margin:3" class="btn btn-primary btn-md">취소</button>
        </div>
    </div>
</div>