div.container(style='height: 50%; width:100%; margin:0; padding:0')
    div#wems_management_firstRow_content(style='height: 30%; width:100%; border:2px #f99 solid')
    div#wems_management_secondRow_content(style='height: 30%; width:100%; border:2px #f99 solid')
    div#wems_management_third_content(style='height: 30%; width:100%; border:2px #f99 solid')
    div#wems_management_fourth_content(style='height: 10%; width:100%; border:2px #f99 solid; vertical-align: middle; text-align: right')
        button.btn.btn-primary.btn-md(type='button', style='margin:3') #{__('setting')}
        button.btn.btn-primary.btn-md(type='button', style='margin:3') #{__('cancel')}