div.container(style='height: 100%; width:100%; margin:0; padding:0')
    div#pdas_center_contents(style='height: 45%; width:100%; border:2px #f99 solid') center
    div#pdas_bottom_contents(style='height: 45%; width:100%; border:2px #f99 solid') bottom
    div(style='height: 10%; width:100%; border:2px #f99 solid')
        div(style='height: 10%; width:20%; float:right; border:2px #f99 solid')
            button.detail(type='button', data-toggle='modal', data-target='#pdasAnalysisModal') 더보기
            include pdas/pdas_analysis.jade