doctype html
html
  head
    title Demo
    link(rel='stylesheet', href='/bootstrap_v3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/fullcalendar-3.4.0/fullcalendar.css')
    link(rel='stylesheet', href='/fullcalendar-3.4.0/fullcalendar.print.css', media='print')
    link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')  
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='/bootstrap_v3.3.7/js/bootstrap.min.js')
    script(src='/moment-2.18.1/moment-with-locales.js')        
    script(src='/fullcalendar-3.4.0/fullcalendar.js')  
    script(src='/chart.js_v2.6.0/Chart.min.js')
    script(src='/angular-chart.js_v1.1.1/angular-chart.js')  
    meta(charset="utf-8")
    style(type="text/css").
        html{
            height:100%
        }
        body {
            display:table; height: 100%; width:100%
        } 
    
    | <script>
    |   angular
    |       .module('app', [])
    |       .controller('DashBoardController', ['$scope', '$http', DashBoardController]);
    |   function DashBoardController ($scope, $http){    
    include dash_header.js
    include dash_pm.js
    include dash_wems.js
    include dash_pdas.js         
    |   
    |       /* onLoad() */
    |       angular.element(document).ready(function () {
    |           pm_OnLoad();
    |           wems_OnLoad();
    |           pdas_OnLoad();
    |       });
    |   }
    | </script>    

  body(ng-app='app', ng-controller='DashBoardController as dashboard')
    div#header(style='display: table-row; height: 50px; width:100%;')
        div(style='display: table; margin: 0px; width: 100%; height: 100%; background-color: #000000')                              
            include dash_header
    div#content(style='display: table-row; height: 100%; width:100%;')        
        div#left_content(style='height: 100%; width:50%; float:left; border:2px #f99 solid')
            include dash_pm
        div#right_content(style='height: 100%; width:50%; float:right;')
            div#wems_content(style='height: 65%; width:100%; border:2px #f99 solid')
                include dash_wems
            div#pdas_content(style='height: 35%; width:100%; border:2px #f99 solid')
                include dash_pdas
    div#footer(style='display: table-row; height: 10px; width:100%; border:2px #f99 solid')
                h6 CopyRight                                      